.Titulo{
    text-align: center;
}
.Subtitulo{
    text-align: center;
}
.Parrafo{
    text-align: center;
}   
 body{
    background-color:#ffe5da;
    margin: 0;
 }

 .Liquid_Blush{
    width: 200px;
    height: auto;
 }
 .Glossy_Lip_Stain{
    width: 200px;
    height: auto;
 }
 .Loreal_pump_ambition{
    width: 200px;
    height: auto;
 }
 table{
    background-color: #E6ADC7;
     border: 3px solid #E6ADC7;
     border-radius: 10px;
     
    
    
  
 }
 tr, td{
    text-align: center;
    padding: 12px 16px;
    vertical-align: middle;
    
    border-right: 1px solid      #E6ADC7;
   
    
    
 }
 
 .column_1A, .column_2A, .column_3A{
    width: 900px;
 }
.Huda_Beauty{
    width: 200px;
    height: auto;
}
.Rare_Beauty{
    width: 200px;
    height: auto;
}
.Clinique_Black_Honey{
    width: 200px;
    height: auto;
}
.Kiko{
    width: 200px;
    height: auto;
}
.L_Oréal{
    width: 200px;
    height: auto;
}
.Rhode{
    width: 200px;
    height: auto;

}
.Erborian_CC{
    width: 200px;
    height: auto;
}
.Catrice_Perfilador{
    width: 200px;
    height: auto;
}
.Charlotte_Tilbury{
    width: 200px;
    height: auto;
    
   
}
.n_1{
  
    border-right: 1px solid      #E6ADC7;
    border-bottom: 1px solid      #ffff;

}

.Titulo {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #F47D01;
}

.Subtitulo {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #F47D01;
}

.Parrafo {
  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
   color: #F47D01;
}

.tarjeta {
  width: 100%;
  height: 300px;
  background-color: #e16a6a;
  border-radius: 20px;
  margin-bottom: 40px;
}
.contenedor {
   
   display: flex;
    justify-content: center;
    align-items: center;
     max-width: 100%;
    height: auto;
    margin-top: 100px;
    flex-direction: column;
    object-fit: cover;
    background-color: #ff5309;
    position: relative;
   }
   
   .texto-container{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
   }
   