.Titulo{
    text-align: center;
}
.Subtitulo{
    text-align: center;
}
.Parrafo{
    text-align: center;
}   
 body{
    background-color:#8F9AB8;
 }

 .Liquid_Blush{
    width: 200px;
    height: auto;
 }
 .Glossy_Lip_Stain{
    width: 200px;
    height: auto;
 }
 .Loreal_pump_ambition{
    width: 200px;
    height: auto;
 }
 table{
    background-color: #CED4DD;
     border: 3px solid #EFBB4B;
     border-radius: 10px;
     
    
    
  
 }
 tr, td{
    text-align: center;
    padding: 12px 16px;
    vertical-align: middle;
    
    border-right: 1px solid      #EFBB4B;
   
    
    
 }
 
 .column_1A, .column_2A, .column_3A{
    width: 900px;
 }
.Huda_Beauty{
    width: 200px;
    height: auto;
}
.Rare_Beauty{
    width: 200px;
    height: auto;
}
.Clinique_Black_Honey{
    width: 200px;
    height: auto;
}
.Kiko{
    width: 200px;
    height: auto;
}
.L_Oréal{
    width: 200px;
    height: auto;
}
.Rhode{
    width: 200px;
    height: auto;

}
.Erborian_CC{
    width: 200px;
    height: auto;
}
.Catrice_Perfilador{
    width: 200px;
    height: auto;
}
.Charlotte_Tilbury{
    width: 200px;
    height: auto;
    
   
}
.n_1{
  
    border-right: 1px solid      #EFBB4B;
    border-bottom: 1px solid      #EFBB4B;

}

  
   